#signin .logo{
	margin-bottom: 2vh;
    margin-top: 0px;
}

#signin .logo img{
	width: 300px;
}
body{
	font-family:nexa light;
	font-weight: 300;
	background: ;
	color: #fff;
	overflow: auto;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 300;
}